#videotable {
	width: 640px;
	height: 360px;
	border: 3px solid;
}

#video-td {
	width: 640px;
	height: 360px;
}

#drawingtools {
	border: 2px solid;
}
/* #video-container {
	position: relative;
	width: 640px;
	height: 360px;
} */

#dialog {
	display: none;
}

p.pos_fixed {
	position: fixed;
	top: 15%;
	left: 25%;
}

iframe#mainframe {
	width: 900px;
	height: 435px;
	border: 0px;
}
