/* Sticky footer styles
-------------------------------------------------- */
html { position: relative; min-height: 100%;}
body {background:#e8e8e8; margin-bottom: 120px; font-family: 'Roboto', sans-serif; font-size:12px;}
.header{ background:url(../images/hdbg.png) repeat-x; min-height:81px;}
.header .logo{ margin:23px 0 0 5px;}
.innercon{ max-width:900px; margin:50px auto 50px auto;}
.footer{height:120px; position: absolute; bottom: 0; width: 100%;}
.footer img{ float:right; clear:both; margin:0 40px 0 0;}
.footer-inner {   background-color: #58595b; bottom: 0; color: #fff; font-weight: 300; position: absolute; width: 100%;}
.footer-inner p{ padding:13px 0 0 0;}
/* Custom page CSS
-------------------------------------------------- */



